@namespace ScissorHands.Theme.MinimalBlog.Components.TagList

@if (Tags.Any())
{
    <ul class="@CssClass">
        @foreach (var tag in Tags)
        {
            <li>@tag</li>
        }
    </ul>
}

@code {
    /// <summary>
    /// Gets or sets the collection of tags to display.
    /// </summary>
    [Parameter]
    public IEnumerable<string> Tags { get; set; } = [];

    /// <summary>
    /// Gets or sets the CSS class to apply to the tag list.
    /// </summary>
    [Parameter]
    public string CssClass { get; set; } = string.Empty;
}
