name: Build, Test and Publish

on:
  push:
    branches:
    - main
    - feat/*
    - hotfix/*
    tags:
      - 'v*'
  pull_request:
    branches:
    - main

concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  GH_PACKAGE_USERNAME: '${{ secrets.GH_PACKAGE_USERNAME }}'
  GH_PACKAGE_TOKEN: '${{ secrets.GH_PACKAGE_TOKEN }}'

jobs:
  build_and_test:
    name: Build and test packages

    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v6

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.x'

    - name: Check package version
      id: version
      shell: pwsh
      run: |
        $version = $env:GITHUB_REF -replace 'refs/tags/v', ''
        if ($($env:GITHUB_REF).StartsWith('refs/tags/v') -eq $false) {
          $version = "1.0.0"
        }

        "value=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

    - name: Add symlink
      shell: bash
      run: |
        ln -s $GITHUB_WORKSPACE/src $GITHUB_WORKSPACE/preview/ScissorHands/themes/minimal-blog

    - name: Restore NuGet packages
      shell: pwsh
      run: |
        dotnet restore

    - name: Build solution
      shell: pwsh
      run: |
        dotnet build -c Release -p:Version=${{ steps.version.outputs.value }}

    - name: Run unit tests
      shell: pwsh
      run: |
        dotnet test -c Release --no-build --verbosity normal

    - name: Publish artifact for theme
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      shell: bash
      run: |
        mkdir -p ./published

        pushd ./src
        zip -r ../published/minimal-blog-v${{ steps.version.outputs.value }}.zip .
        popd

    - name: Upload artifact for theme
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./published

    - name: Publish artifact for preview
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      shell: bash
      run: |
        dotnet run --project ./preview/ScissorHands -- --build

    - name: Upload artifact for preview
      if: ${{ startsWith(github.ref, 'refs/tags/v') }}
      uses: actions/upload-pages-artifact@v4
      with:
        path: ./preview/ScissorHands/dist

  publish_and_deploy:
    name: Publish artifacts and deploy to GitHub Pages
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    needs:
    - build_and_test

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
    - name: Check package version
      id: version
      shell: pwsh
      run: |
        $version = $env:GITHUB_REF -replace 'refs/tags/v', ''
        if ($($env:GITHUB_REF).StartsWith('refs/tags/v') -eq $false) {
          $version = "1.0.0"
        }

        "value=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

    - name: Download Artifact
      uses: actions/download-artifact@v6
      with:
        name: artifacts
        path: ./published

    - name: Create Release to GitHub
      uses: softprops/action-gh-release@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: "v${{ steps.version.outputs.value }}"
        files: |
          ./published/*.zip
        generate_release_notes: true

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
